.navbar {
    background: rgb(107,15,47);
    padding: 30px;
}

.nav-link {
    padding: 20px;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    padding: 20px;
    margin: 10px;
    color: white;
    /* background-color: ; */
    text-decoration: none;
}